.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1);
}

.text-field {
	-fx-font-family: "Monospaced";
}

.text-area {
	-fx-font-family: "Monospaced";
}

#start-button {
	-fx-color: #93FF6B;
}

#stop-button {
	-fx-color: #FF8585;
}

#reset-button {
	-fx-color: #FAFF69;
}